In [2]:
%matplotlib inline
import MySQLdb as mdb               # Raw data source is MySQL
import pandas as pd                 # Workhorse data management tool
import numpy as np                  # For matrices, arrays, matrix math, and nan's

In [3]:
import matplotlib.pyplot as plt     # For plotting some distributions
import seaborn as sns
sns.set_context("talk", font_scale=1.4)

In [4]:
server = 'e906-db3.fnal.gov'                         # Source MySQL server
port = 3306
schema = 'merged_roadset62_R004_V005'

In [62]:
query = """
        SELECT spillID AS `eventID`, scalerName AS `key`, value, targetPos AS class
        FROM Scaler 
        INNER JOIN Spill s              # Source of targetPos
            USING(spillID) 
        WHERE scalerName IS NOT NULL AND 
              s.spillID NOT BETWEEN 409000 AND 430000 AND     
              s.spillID NOT BETWEEN 416709 AND 424180 AND
              s.spillID NOT BETWEEN 482574 AND 484924 AND
              spillType='EOS' AND
              s.dataQuality = 0 AND
              scalerName IN ('AfterInhMATRIX5', 'PrescaleMATRIX5',
                             'RawMATRIX4', 'RawTriggers')
        """

In [ ]:
query = """
        SELECT name, value, class
        FROM my_database.my_table
        """

In [63]:
try:
    db = mdb.connect(read_default_file='../../.my.cnf',                  # Keep my login credentials secure
                     read_default_group='guest',                   # Read-only access to important data
                     host=server,
                     db=schema)
    data_df = pd.read_sql(query, db)
    data_df.index.name="id"
    
except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

In [64]:
data_df.to_csv('violin-plot-data.csv', index_label='id')

In [65]:
data_df = pd.read_csv('violin-plot-data.csv', index_col='id')

In [66]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164196 entries, 0 to 164195
Data columns (total 4 columns):
eventID    164196 non-null int64
key        164196 non-null object
value      164196 non-null int64
class      164196 non-null int64
dtypes: int64(3), object(1)
memory usage: 6.3+ MB

In [67]:
data_df.pivot(index='eventID', columns='key', values='value').head(30)

key      AfterInhMATRIX5  PrescaleMATRIX5  RawMATRIX4  RawTriggers
eventID
430001             27094               12     1598521     10759045
430002             34901               14     1670878     11813291
430003             36317               15     1675869     12002554
430004             34088               14     1637602     11564482
430005             27489               12     1587623     10627391
430006             32611               13     1625900     11321213
430013             20382                9     1639926      8769456
430014             23758                9     1651980      9401959
430015             24693               11     1612326      9518723
430016             16762                7      906480      6009644
430017             17730                7     1011788      6460223
430018             28322               12     1535705     10288666
430019             30247               12     1651894     11103506
430026             35260               15     1519402     11437323
430027             35336               14     1643279     11930577
430028             23979               10     1530314      9731520
430029             29566               13     1661413     10808942
430030             29623               12     1692261     11038836
430031             27556               11     1599086     10282025
430039             30138               13     1637681     11146479
430040             31750               13     1717651     11537781
430041             31026               13     1689650     11307768
430042             32485               13     1686568     11523073
430043             31222               13     1664937     11189133
430044             30990               13     1665219     11291918
430045             31957               13     1651731     11636680
430046             33026               14     1703088     11828744
430047             28386               12     1612684     10955062
430048             34403               14     1688729     11743823
430049             35685               15     1648888     12058037